.topLeftText {
  /* Top Left text with mobile friendly */
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 0.5rem #000;
  z-index: 1;
}

.spanCover {
  overflow: hidden;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  /* center vertically */
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  /* center vertically */
  height: 100vh;
}

.titlegroup {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.titletext {
  /* mobile friendly */
  font-family: "Clash Display Variable";
  font-style: normal;
  font-size: max(min(3vw, 54px), 22px);
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 0.5rem #000;
  z-index: 1;
  text-align: center;
}

.titletextgradient {
  /* title text gradient left to right */
  background: linear-gradient(90deg, #5aeaf0 0%, #7f5af0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-size: max(min(3vw, 54px), 22px);
  font-weight: 600;
  /* identical to box height */
  text-align: center;
}

.subtitle {
  left: calc(50% - 652px / 2);
  top: calc(50% - 116px / 2 - 1913.5px);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: max(min(2vw, 36px), 16px);
  text-align: center;

  color: #fffffe;
}

/* create responsive css */
@media (max-width: 500px) {
  .iconBarContainer {
    position: absolute;
    bottom: 3rem;
    /* align children horizontally */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .iconBarStickBar {
    /* position: absolute; */
    width: 25vw;
    border: 1.5px solid #fffffe;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

@media (min-width: 500px) {
  .iconBarContainer {
    position: absolute;
    left: 3rem;
    /* align children vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .iconBarStickBar {
    /* position: absolute; */
    left: 3rem;
    width: 0px;
    height: 25vh;
    border: 3px solid #fffffe;
    transform: rotate(-0.1deg);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.icon {
  /* change mouse cursor */
  cursor: pointer;
}

.mainButton {
  margin-top: 10vh;
  /* change mouse cursor */
  cursor: pointer;
  background: #7f5af0;
  border-radius: 95px;
  border: 0px;
  padding: 1rem 3rem;
}

.mainButtonText {
  font-size: max(min(2vw, 24px), 12px);
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 634;
  color: #fffffe;
}

/* Starfall effect is from https://codesandbox.io/s/w96ut */
@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);

  animation: animate 3s linear infinite;
}
.span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
.span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.span:nth-child(2) {
  top: calc(50% + 50px);
  right: calc(50% + 40px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.span:nth-child(3) {
  top: calc(50% - 130px);
  right: 0;
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.span:nth-child(4) {
  top: 0;
  right: calc(50% -90px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.span:nth-child(5) {
  top: 0;
  right: calc(50% + 250px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.span:nth-child(6) {
  top: 0;
  right: calc(50% +70px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 3s;
}
.span:nth-child(7) {
  top: calc(50% + 120px);
  right: 0px;
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 1.75s;
}

.span:nth-child(8) {
  top: 0px;
  right: calc(50% + 190px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.span:nth-child(9) {
  top: 0px;
  right: calc(50% + 10px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

.span:nth-child(10) {
  top: 0px;
  right: calc(50% - 220px);
  left: initial;
  /* hide it before animation starts */
  opacity: 0;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}
