@media (min-width: 1000px) {
  .SummaryPageContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("../public/layered-waves.svg") no-repeat center;
    background-size: cover;
    text-align: center;
  }

  .contactInputBox {
    display: flex;
    width: max(min(30vw, 200px), 400px) !important;
    height: 100% !important;
  }

  .contactTextArea {
    display: flex;
    width: max(min(30vw, 200px), 400px) !important;
    height: 20vh !important;
  }

  .summaryContainer {
    position: relative;
    /* right: 20vw; */
    padding-right: 5vw;
  }

  .summaryTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40vw;
  }
}

@media (max-width: 1000px) {
  .SummaryPageContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("../public/layered-waves.svg") no-repeat center;
    background-size: cover;
    text-align: center;
    flex-direction: column;
  }

  .contactInputBox {
    display: flex;
    width: 50vw !important;
    height: "100%" !important;
  }

  .contactTextArea {
    display: flex;
    width: 50vw !important;
    height: 10vh !important;
  }

  .summaryContainer {
    position: relative;
    /* top: 10vh; */
    bottom: 10vh;
  }

  .summaryTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90vw;
  }
}

.summaryTopText {
  background: linear-gradient(90deg, #5aeaf0 0%, #7f5af0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 600;
  font-size: max(min(2vw, 30px), 18px);
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.summaryMiddleText {
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 634;
  font-size: max(min(5vw, 64px), 32px);
  /* title and button text */
  color: #fffffe;
}

.summaryBottomText {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* paragraphe 1 */

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: max(min(2vw, 30px), 18px);

  /* paragraph */

  color: #94a1b2;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contactBox {
  background: #2b2b32;
  border-radius: 20px;
}

.contactTitle {
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 564;
  line-height: 39px;
  font-size: max(min(3vw, 32px), 20px);
  /* title and button text */
  padding-top: 5rem;
  color: #fffffe;
}

.contactSubTitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: max(min(2vw, 20px), 12px);
  /* line-height: 23px; */
  text-align: center;

  max-width: fit-content;

  /* paragraph */
  color: #94a1b2;
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.contactInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  padding: 5vw;
}

.contactSendButton {
  position: relative;
  background: #7f5af0;
  border-radius: 100px;
  padding: max(min(3vw, 1rem), 0.5rem) max(min(8vw, 3rem), 1rem);
  cursor: pointer;
  top: 1.5rem;
  bottom: 1.5rem;
}

.contactSendButtonText {
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 634;
  font-size: max(min(2vw, 22px), 16px);
  line-height: 27px;
  color: #fffffe;
}

.contactSendImage {
  position: relative;
  top: 5px;
  right: 15px;
}

.modal {
  font-size: 12px;
  background: #2b2b32;
  border-radius: 20px;
  width: max(min(40vw, 800px), 200px);
}
.modal > .header {
  width: 100%;
  font-family: "Clash Display Variable";
  font-style: normal;
  color: #ffffff;
  border-bottom: 1px solid gray;
  font-size: max(min(2vw, 32px), 16px);
  text-align: center;
  padding: 1vh;
}
.modal > .content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: max(min(2vw, 20px), 12px);
  /* line-height: 23px; */
  text-align: center;
  max-width: fit-content;
  /* paragraph */
  color: #94a1b2;
  width: 100%;
  padding: 5vw 5vw;
}
.modal > .actions {
  display: flex;
  width: 100%;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.closebutton {
  position: absolute;
  text-align: center;
  background: #7f5af0;
  border-radius: 100px;
  padding: max(min(3vw, 1rem), 0.5rem) max(min(8vw, 3rem), 1rem);
  cursor: pointer;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 634;
  font-size: max(min(2vw, 22px), 16px);
  line-height: 27px;
  color: #fffffe;
}
